<?xml version='1.0' encoding='utf-8'?>
        <!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        <!--  하이버네이트 설정 파일 -->
<hibernate-configuration>
<session-factory>
    <!-- The classname of a Hibernate org.hibernate.dialect.Dialect which allows Hibernate to generate SQL optimized for a particular relational database. -->
    <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>

    <!--
               Automatically validates or exports schema DDL to the database when the SessionFactory is created.
               With create-drop, the database schema will be dropped when the SessionFactory is closed explicitly.
        -->
    <property name="hbm2ddl.auto">update</property>

    <!-- Supply a custom strategy for the scoping of the "current" Session.
               jta | thread | managed | custom.Class
               - org.hibernate.context.JTASessionContext: current sessions are tracked and scoped by a JTA transaction. The processing here is exactly the same as in the older JTA-only approach. See the Javadocs for details.
               - org.hibernate.context.ThreadLocalSessionContext:current sessions are tracked by thread of execution. See the Javadocs for details.
               - org.hibernate.context.ManagedSessionContext: current sessions are tracked by thread of execution. However, you are responsible to bind and unbind a Session instance with static methods on this class: it does not open, flush, or close a Session.
        -->

    <!--
    <property name="current_session_context_class">jta</property>
    -->

    <!-- Statistics are deactivated by default because it has a bad influence on the performance.
          (참고: http://www.thoughts-on-java.org/how-to-activate-hibernate-statistics-to-analyze-performance-issues/)
        -->
    <property name="generate_statistics">true</property>

    <!-- Hibernate mapping 설정 LocalSessionFactoryBean 으로 이동.
    <mapping resource="mapper/myemp.hbm.xml"></mapping>
    <mapping class="org.spring4.sample.model.security.User"/>
    <mapping class="org.spring4.sample.model.security.UserProfile"/>
    -->

</session-factory>
</hibernate-configuration>